# October 3, 2022

In [ ]:
a= 15

res = 'a < 10' if a < 10 else 'a >= 10'

print(res)

In [ ]:
a = 5
if a < 10:
    print('a < 10 ')
else:
    print('a >= 10 ')

In [ ]:
def say_hello():
    print('Hello!')
    print('My name is Karen')
    a = 99
    b = 1
    print( a + b )
    
def say_goodbye():
    print('Goodbye')

In [ ]:
a = 1
say_hello() if a < 10 else say_goodbye()

In [ ]:
say_hello()

In [ ]:
a = 16
say_hello() if a < 10 else say_goodbye()

In [ ]:
x = input("please enter a number ") 
print("the number that you entered is", x)
x = int(x)

In [ ]:
print(type(x))

In [ ]:
print (20 + x)

In [ ]:
x = input("please enter a number ")
print("the number that you entered is", x)
print(type(x))

In [ ]:
m = 2
n = 4
print(type(m * m == n))
print(m * m ==n)

In [ ]:
#Comparing integers
m = 2
n = 4

if m * m == n:
    print("2 times 2 is four")

In [ ]:
from math import sqrt
x = sqrt(9)
print(x)

In [ ]:
from math import sqrt
x = sqrt(9)
y = 2.0


if x * x == y:
    print("sqrt(2) times sqrt(2) is 2 ")
else:
    print("sqrt(2) times sqrt(2) is not 2 %.18f " % (x * x))  
    
EPSILON = 1E-14
if abs(x * x - y ) < EPSILON :
    print("sqrt(2) times sqrt(2) is aproximately 2 ")

In [ ]:
while True:
    x = int(input("Please enter an int greater the 10"))
    if type(x) == int and x > 10:
        print("Nice work")
        break
    else:
        print("Not quite")

print("End of example")

In [ ]:
x = "error"

while cond == "error":
    x = int(input("Please enter an int greater the 10"))
    if type(x) == int and x > 10:
        print("Nice work")
        break
    else:
        print("Not quite")

print("End of example")

In [ ]:
cond = "error"

while cond == "error":
    x = int(input("Please enter an int greater the 10"))
    if type(x) == int and x > 10:
        print("Nice work")
        cond = ""
    else:
        print("Not quite")

print("End of example")

# October 5, 2022

In [ ]:
s = "120"
t = "20"

if s == t :
    comparison = "is the same as"
else :
    comparison = "is not the same as"

print(f"The string '{s}' the string { comparison }'{t}'")

In [ ]:
s = "120"
t = "20"
u = "1"+ t
print(u)

if s != u :
    comparison = "not"
else :
    comparison = ""

print(f"The string '{s}' and '{ u }' are { comparison } identical")

In [2]:
s = "120"
t = "20"
u = "1"+ t
print(u)

if s != u :
    values_equal = "not"
else :
    values_equal = ""

print(f"The string '{s}' and '{ u }' are { values_equal } identical")

120
The string '120' and '120' are  identical

In [ ]:
s = "120"
t = float(input())
u = t + float("1")
print("t = ", t)
print("u = ", u)

In [ ]:
class Person():
    age = ""
    hair_color = ""

mike = Person()
karen = Person()

print(type(mike))
print(id(mike))

print(type(karen))
print(id(karen))

# October 10, 2002

In [4]:
#Example
example = True
print(type(example))
print(id(example))

<class 'bool'>
2863520

In [7]:
j = "hel"
print( j + "lo" == "hello") 
print(id("hello"))
print(id( j + "lo"))

True
47540056
57518368

In [9]:
print( "Karen " * 20 )

Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen Karen

In [13]:
age = 18
if (age >= 17):
   print("Hey, you're too young to get a driving licence!")

Hey, you're too young to get a driving licence!

In [15]:
print( 2 + 3 * 6)

20

In [24]:
x = 4 
if x == 4:
    print("x = ", 4)
else:
    print("x !=",  4)

x =  4

In [32]:
x = 10
if x < 0:
    print("The negative number ",  x, " is not valid here.")
elif x <= 9:
    print(x, " is a positive number")
else:
    print("This is always printed")

This is always printed

In [38]:
x = 9
y = 10

if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

x is less than y

# October 12, 2022

In [39]:
print(16 - 2 * 5 // 3 + 1)

14

In [40]:
print(2 ** 2 ** 3 * 3)

768

In [41]:
a = 5
print(id(5))
print(id(a))
print(id(10))
a = a + 5
print(id(a))
print(a)

8538976
8538976
8539096
8539096
10

In [43]:
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi", name, "Please come to my party on Saturday!")

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!
Hi Thandi Please come to my party on Saturday!
Hi Paris Please come to my party on Saturday!

In [45]:
for i in range(4):
    print(i)
for x in range(10):
    print(x)

0
1
2
3
0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(10):
    print("number = ", i)

print(" = " * 10)

for i in range(3, 10):
    print("number = ", i)

number =  0
number =  1
number =  2
number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9
 =  =  =  =  =  =  =  =  =  =
number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9

In [51]:
for i in range(0,10,2):
    print("number = ", i)

number =  0
number =  2
number =  4
number =  6
number =  8

In [52]:
for i in range(3,10,2):
    print("number = ", i)

number =  3
number =  5
number =  7
number =  9

In [53]:
print(list(range(0, 19, 2)))
print(list(range(0, 20, 2)))
print(list(range(10, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
print(list(range(20,3,-5)))

[20, 15, 10, 5]