# October 19,2022

In [ ]:
type(9//5) == int
type(9.0//5) == int

In [ ]:
name = "Mike"

assert type(name == str)

In [ ]:
lst = ['a', 'b', 'c', 15]
first_type = type(lst[3])
print(first_type)

In [ ]:
# create a window and a turtle

while the turtle is still in the window:
    generate a random number between 0 and 1
    if the number == 0 (heads):
        turn left
    else:
        turn right
    move the turtle forward 50

In [ ]:
def isInScreen(wn,t):
    leftBound = -(wn.window_width() / 2)
    rightBound = wn.window_width() / 2
    topBound = wn.window_height() / 2
    bottomBound = -(wn.window_height() / 2)

    turtleX = t.xcor()
    turtleY = t.ycor()

    stillIn = True
    if turtleX > rightBound or turtleX < leftBound:
        stillIn = False
    if turtleY > topBound or turtleY < bottomBound:
        stillIn = False

    return stillIn

In [ ]:
better =  1/2 * (approx + n/approx)

# October 24, 2022

When creating a new function
- Create the function signature
- name (p1, p2)
- return value

In [ ]:
def add(x, y):
    x = 100
    return (x + y)

In [ ]:
num1 = 4
num2 = 5

print(add(num1, num2))

In [1]:
def steps_to_feet(num_steps):
    feet_per_step = 3
    feet = num_steps * feet_per_step
    return feet

def steps_to_calories(num_steps):
    pass  

steps = input('Enter number of steps walked: ')

feet = steps_to_feet(steps)
print('Feet:', feet)

calories = steps_to_calories(steps)
print('Calories:', calories)

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'Future'

Enter number of steps walked:  2

### Container Object

Container object - contains other objects
- list sequence
- tuple sequence
- set (uses hashes) do not maintain sequence
- dict (uses hashes) do not maintain sequence

In [4]:
list = [1,3,5,6]

- lists are mutable
- tuple are not mutable ('tuple' object has no attribute 'append')

In [7]:
list.append(7)
print(list)

[1, 3, 5, 6, 7, 7, 7]

In [8]:
tuple = (1,3,5,6)
print(tuple)

(1, 3, 5, 6)

In [11]:
len(["helo", 5.5, 6, [10,20]])

4

- there is a sublist into the list
len(["helo", 5.5, 6, [10,20]])

In [12]:
numbers = 17, 34
print(type(numbers))

<class 'tuple'>

In [13]:
empty = []
print(type(empty))

<class 'list'>

In [17]:
test = {1,"name", 2}
print(type(test))

<class 'set'>

In [21]:
test2 = {"name": "mike"}
print(type(test2))

<class 'dict'>

In [23]:
test3 = ["name", 2.0, 5*2, [10,20]]
print(type(test3))
print(test3)

<class 'list'>
['name', 2.0, 10, [10, 20]]

In [5]:
number = 321
number, part = divmod(number, 1000)
print(part)

321

In [7]:
number = 321
part = number // 100
print(part)

3

# October 26, 2022

In [ ]:
lst = [1,2,3]
lst.append([6,7])
print(lst)

In [ ]:
lst = [1,2,3]
lst.append("Apple")
print(lst)

### Container Object 
- list sequence (mutable)
- tuple sequence (imutable)
- set (uses hashes) do not maintain sequence
- dict (uses hashes) do not maintain sequence

In [13]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
del alist[1:5]
print(alist)

['a', 'f']

In [15]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
del alist[1:4]
print(alist)

['a', 'e', 'f']

In [19]:
a = "banana"
b = "banana"

print(a is b)
print(id(a), id(b))

True
57604400 57604400

In [21]:
a = [81, 82, 83]
b = [81, 82, 83]

print(a is b)
print(a == b)
print(id(a), id(b))

False
True
57621400 57846248

In [22]:
a = (81, 82, 83)
b = (81, 82, 83)

print(a is b)
print(a == b)
print(id(a), id(b))

False
True
57426728 57426568

- String are imutable

In [23]:
a = ("banana")
b = ("banana")

print(a is b)
print(a == b)
print(id(a), id(b))

# imutable

True
True
54839344 54839344

In [25]:
a = ["banana"]
b = ["banana"]

print(a is b)
print(a == b)
print(id(a), id(b))

False
True
57893784 57910296

In [27]:
lista = [1,2,3,4]
print(id(lista))
print(id(lista[1:2]))

57814688
57822448

In [29]:
lista = [1,2,3,4]
print(id(lista))
print(id(lista[:])) # give me a new list, because that I have a new id

57916888
54618792

In [32]:
a = [81, 82, 83]
b = [81, 82, 83]
print(a is b)

c = a
print(c is a)

teste1 = (81, 82, 83)
teste2 = (81, 82, 83)
print(teste1 is teste2)

False
True
False

In [33]:
origlist = [45, 76, 34, 55]
print(origlist * 3)

newlist = [origlist] * 3

print(newlist)

[45, 76, 34, 55, 45, 76, 34, 55, 45, 76, 34, 55]
[[45, 76, 34, 55], [45, 76, 34, 55], [45, 76, 34, 55]]

In [37]:
origlist = [45, 76, 34, 55]

for item in origlist:
    print(item * 3)

135
228
102
165

In [48]:
test = [1,2,3,4]
print(test)
print(id(test))

test.append("Hello")
print(test)
print(id(test))

# doesn't create a new object

[1, 2, 3, 4]
57540936
[1, 2, 3, 4, 'Hello']
57540936

In [49]:
test = [1,2,3,4]
print(test)
print(id(test))

print(test + ["Hello"])
# I imagine here doesn't change the object test, because just concatenate items
print(id(test))

# doesn't create a new object

[1, 2, 3, 4]
26409352
[1, 2, 3, 4, 'Hello']
26409352

In [50]:
for number in range(20):
    if number % 3 == 0:
        print(number)

0
3
6
9
12
15
18

In [51]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

for i in range(len(numbers)):
    numbers[i] = numbers[i] ** 2

print(numbers)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [58]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

for i in numbers:
    numbers[i-1] = numbers[i-1] ** 2

print(numbers)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [52]:
alist = [4, 2, 8, 6, 5]
blist = [ ]
for item in alist:
    blist.append(item+5)
print(blist)

[9, 7, 13, 11, 10]

In [53]:
sum = 0
for num in [1, 3, 5, 7, 9]:
    sum = sum + num
print(sum)

25

In [61]:
long_names = 0
for name in ["Joe", "Sally", "Amy", "Brad"]:
    if len(name) > 3:
        long_names += 1
        print(name)
        
print(long_names)

Sally
Brad
2

In [62]:
s = "what if we went to the zoo"
num_vowels = 0
for i in s:
    if i in ['a', 'e', 'i', 'o', 'u']:
        num_vowels += 1
print(num_vowels)

8

In [63]:
nums = [9, 3, 8, 11, 5, 29, 2]
best_num = 0
for n in nums:
    if n > best_num:
        best_num = n
print(best_num)

29

In [64]:
scores = [85, 95, 70]
result = ''
for score in scores:
   result = result + str(score) + ','

print("The scores are " + result)

The scores are 85,95,70,

In [65]:
s = "We are learning!"
x = 0
for i in s:
    if i in ['a', 'b', 'c', 'd', 'e']:
        x += 1
print(x)

5

In [66]:
def doubleStuff(aList):
    """ Overwrite each element in aList with double its value. """
    for position in range(len(aList)):
        aList[position] = 2 * aList[position]

things = [2, 5, 9]
print(things)
doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

In [67]:
def doubleStuff(a_list):
    """ Return a new list in which contains doubles of the elements in a_list. """
    new_list = []
    for value in a_list:
        new_elem = 2 * value
        new_list.append(new_elem)
    return new_list

things = [2, 5, 9]
print(things)
things = doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

In [9]:
for num in range(100):
    if num % 7 == 0:
        print(num)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
count = 0
if ( (rgb_code == 'B' or size < 100)
     and num_tries <= 10 ):
   count += 1

print(count)