# October 31, 2022

In [ ]:
mylist = [1,2,3,4]
yourlist = []

yourlist1 = [item ** 2 for item in mylist if item % 2 ==1]

print(yourlist1)

In [ ]:
name = "foothill""
yourlist = []
yourlist = [ltr for ltr in name]
print(type(yourlist))

print(yourlist)

In [ ]:
#unique items

name = "foothill""
yourlist = []
yourlist = {ltr for ltr in name}

print(type(yourlist))
print(yourlist)

In [ ]:
mylist = [1,2,3,4]
yourlist = []

for item in mylist:
    yourlist.append(item ** 2)

print(yourlist)

yourlist1 = [item ** 2 for item in mylist if item % 2 ==1]
print(yourlist1)

In [ ]:
a = "College"
b = "Foothill"
c = "Los Altos"

a,b,c = b,a,c
print(a,b,c)

# November 2, 2022

In [2]:
name_list1 = ["Karen", "Jairo", "Caroline", "Alejandro"]
print(name_list)

name_list2 = "Karen Jairo Caroline Alejandro"

name_list3 = name_list2.split()
print(name_list3)

init = ""
print("\n", id(init))
print("\n", init)

for ename in name_list3:
    init = init + ename[0]
    
print("\n", id(init))
print("\n", init)

NameError: name 'name_list' is not defined

In [ ]:
name_list1 = ["Karen", "Jairo", "Caroline", "Alejandro"]
print(name_list)

name_list2 = "Karen Jairo Caroline Alejandro"

name_list3 = name_list2.split()
print(name_list3)

init = ""
i = 0
print("\n", id(init))

while i < len(name_list3):
    init = init + name_list3[i][-1]
    i = i + 1
    
print("\n", id(init))
print(init)

In [1]:
name_list1 = ["Karen", "Jairo", "Caroline", "Alejandro"]
print(name_list1)

name_list2 = "Karen Jairo Caroline Alejandro"

name_list3 = name_list2.split()
print(name_list3)

init = ""
i = 0
print("\n", id(init))

while True:
    init = init + name_list3[i][0]
    if i < len(name_list3) - 1:
        i = i + 1
    else:
        break
print("End the program")

print("\n", id(init))
print(init)

['Karen', 'Jairo', 'Caroline', 'Alejandro']
['Karen', 'Jairo', 'Caroline', 'Alejandro']

 140181961426544
End the program

 140182252780336
KJCA

### file ref

In [13]:
outfile = open("emission.txt", "w")

name = ["Karen\n", "Jairo\n", "Caroline\n", "Alejandro\n"]

outfile.write("Name \tTest\n")

for i in name:
    outfile.write(i)

outfile.close()

In [2]:
def capList1(param): 
#Attempts to capitalize every element in param, but fails   
        for item in param:
                 item = item.upper() 

def capList2(param): 
#Capitalizes every element in the param list    
        for i in range (len(param)):
                param[i] = param[i].upper() 

# Test code 
list = ["hello","goodbye"] 
capList1(list) 
print (list) 
capList2(list) 
print (list)

['hello', 'goodbye']
['HELLO', 'GOODBYE']

In [11]:
def capList3(param): 
#Capitalizes first letter    
    for i in range (len(param)):
            param[i] = param[i].title()

# title() does the first lettler in uppercase
# Test code 
list = ["hello","goodbye"] 
capList3(list) 
print (list)

['Hello', 'Goodbye']